{% extends 'base.html' %}

{% block title %}Продукты в категории: {{ category.name }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>{{ category.name }}</h1>
        <p>Список продуктов в данной категории. (Данные кешируются)</p>

        <div class="row">
            {% for product in product_list %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.price }} руб.</p>
                            <a href="{% url 'product_detail' product.pk %}" class="btn btn-sm btn-outline-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p class="alert alert-info">В этой категории пока нет опубликованных продуктов.</p>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Назад к списку</a>
    </div>
{% endblock %}
