{% extends 'base.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">Свяжитесь с нами</h1>
                <div class="text-center">
                    <p class="lead">Наш адрес: г. Москва, ул. Ленина, д. 1</p>
                    <p class="lead">Телефон: +7 (999) 123-45-67</p>
                    <p class="lead">Email: contact@example.com</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
